/* .image{
    background-image: url("asserts/books.png");

    width : 500px;
    height: 400;
}  */
.image {
    height: 200px;
    width: 100%;
    align-items: center;
    background-color: whitesmoke;
}

footer {
    display: flex;
    padding: 10px 5px;
    background-color: #45a1ff;
    color: #fff;
}
.Home{
    margin: auto;
    width: 125px;
}
.Events{
    margin: auto;
    width: 125px;
}
.about{
    margin: auto;
    width: 125px;
}
footer p {
    flex: 1;
    margin: 0;
}

footer ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    list-style: none;
    
}
hgroup {
    text-align: left;
    font-family: Verdana, sans-serif;
    padding-left: 16px;
    border-left: 10px solid #00c8d7;
}

h3 {
    font-size: 1.93rem;
    margin-bottom: 0;
}

#kapil{
    background-image: url("asserts/photo.jpeg") ;
    background-position: center;
    height:400px;
}
body{
    margin:0px;
}
.down{
    position:absolute;
    top:800px;
    list-style: none;
}
.l_item
{
    font-size: 25px;
    padding-bottom: 40px;
    
}

/* .image{
    background-image: url("asserts/books.png"); 
    /* background-position: no repeat;  */
    /* width:1000px; 
    height:600px;
     background-size: cover; */
/* frnrnr */ 